.sent-emails-container {
  width: 30%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.sent-emails-container h1 {
  color: #f1f1f1;
  text-align: center;
  margin-top: 20px;
}

.sent-emails-container .email-item {
  margin: 30px 0;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.sent-emails-container .email-item h2 {
  color: #555;
  margin-bottom: 10px;
}

.sent-emails-container .email-item p {
  color: #666;
  line-height: 1.6;
}

.sent-emails-container .email-item .itinerary-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.sent-emails-container .email-item .itinerary-item p {
  margin: 5px 0;
}

.sent-emails-container hr {
  border: none;
  border-top: 1px solid #ddd;
}

.subject-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
}

.error-case-container {
  text-align: center;
}

.no-emails {
  font-size: 1.2rem;
}

.back-to-form-link {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 5px;
  background: #007bff;
  transition: 0.3s;
}

.back-to-form-link:hover {
  background: #0056b3;
}
