.navbar {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* You can adjust this value as needed */
  max-width: 1400px; /* This will prevent the navbar from becoming too wide on large screens */
  margin: auto; /* This will center the navbar-container */
}

.navbar-links {
  display: flex;
  gap: 5rem;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #007bff;
}

.logout-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-button:hover {
  background: #0056b3;
}
