.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #000046, #1cb5e0);
}

.login-form {
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.body h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.body div {
  margin-bottom: 25px;
}

.body label {
  display: block;
  margin-bottom: 5px;
}

.body input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.body button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.body button:hover {
  background-color: #0056b3;
}
